body
{
    padding: 0;
    margin: 0;
}

header
{
    
    grid-area: header;
    background-color: aqua; 
}

.main-header
{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-areas:
    "banniere banniere banniere banniere banniere banniere banniere banniere banniere banniere banniere banniere "
    

}
.main-nav
{
    grid-column-start: 1;
    grid-column-end: 5;
}

img
{
    grid-area: banniere;
}









main
{
    height: 70vh;
    
    grid-area: main;
}

p
{
    border: solid black 3px;
margin-left: 10%;
margin-top: 5%;
margin-right: 10%;
}
main h2
{
    grid-row-start: 2;
    border: solid black 3px;
    text-align: center;

}



aside
{
 background-color: brown;   
 grid-area: aside ;
}

footer
{ 
    grid-area: footer;
    background-color: black;
}

.allblock
{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-auto-rows: minmax(100px,auto);
    grid-gap: 2px;
    grid-template-areas: 
    "header header header header header header"
    "aside main main main main main"
    "aside main main main main main"
    "aside main main main main main"
    "footer footer footer footer footer footer"


}

